{
  "extends": "plugin:@dazn/kopytko/recommended",
  "plugins": ["@dazn/kopytko"],
  "rules": {
    "@dazn/kopytko/dependencies-order": "error",
    "@dazn/kopytko/missing-trailing-comma": "error",
    "@dazn/kopytko/indent": ["error", 2],
    "@dazn/kopytko/no-print": "off",
    "@dazn/kopytko/no-stop": "error",
    "@dazn/kopytko/sub-to-function": "error",
    "@dazn/kopytko/function-no-return": "error",
    "@dazn/kopytko/no-uninitialized-variables": "off"
  }
}
