name: Release
on:
  push:
    branches:
      - master
jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
      issues: write
      pull-requests: write
    timeout-minutes: 10
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Semantic Release
        id: release
        uses: codfish/semantic-release-action@v5
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          plugins: |
            [
              '@semantic-release/commit-analyzer',
              '@semantic-release/release-notes-generator',
              ['@semantic-release/npm', { npmPublish: true, provenance: true }],
              '@semantic-release/github'
            ]
